@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
    body {
        @apply font-poppins text-primary
    }
} */

@layer utilities {
    .form-input {
        @apply border-2 focus:border-blue-500 focus:ring-1 focus:ring-blue-500 focus:outline-none transition duration-200 w-full rounded-md py-2 px-3 bg-gray-100 placeholder:italic placeholder:text-base
    }
    .form-label {
        @apply block text-base font-medium
    }
    .btn {
        @apply transition duration-300 text-white w-full py-3 mt-5 rounded-md font-medium
    }
    .btn-primary {
        @apply bg-blue-500 hover:bg-blue-700 
    }
}